@use "../components/UserDetailCard.scss";

.dashboard {
  margin: 0 5rem;

  .heading {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1rem;
    padding: 1rem 2rem;

    border-radius: 0.5rem;
    background-color: var(--col-primary);
    color: var(--col-on-primary);

    .logout-btn {
      background: var(--col-primary-container);
      color: var(--col-on-primary-container);
      border: none;
      border-radius: 0.5rem;
      padding: 0 1rem;
    }

    &.admin {
      background-color: var(--col-surface);
      color: var(--col-on-surface);

      .logout-btn {
        background: var(--col-error);
        color: var(--col-on-error);
      }
    }
  }

  .user-dashboard,
  .admin-dashboard {
    display: grid;
    gap: 1rem;

    .details {
      color: var(--col-on-secondary);
      background: var(--col-secondary-faded);
      backdrop-filter: blur(1.5rem);
      -webkit-backdrop-filter: blur(1.5rem);
      will-change: backdrop-filter;
      padding: 2rem;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      gap: 1rem;

      border-radius: 0.5rem;
      border: 1px solid var(--col-primary);

      >div {
        display: grid;
        gap: 0.25rem;
        padding: 1rem;
      }

      .change-password-btn {
        justify-self: start;
        background: var(--col-secondary-container);
        color: var(--col-on-secondary-container);

        border: none;
        border-radius: 0.5rem;

        margin-left: 0.5rem;
        padding: 1rem;
      }
    }
  }

  .admin-dashboard .details {
    background: var(--col-on-surface-faded);
    border-color: var(--col-secondary);
    grid-template-columns: none;
  }

  .admin-dashboard .details .user-detail-area {
    .upper-part {
      display: flex;
      justify-content: space-between;

      >button {
        border: none;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
      }
    }

    .user-dashboard {
      display: grid;
      gap: 1rem;

      .details {
        color: var(--col-on-secondary);
        background: var(--col-secondary-faded);
        backdrop-filter: blur(1.5rem);
        -webkit-backdrop-filter: blur(1.5rem);
        will-change: backdrop-filter;
        padding: 2rem;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        gap: 1rem;

        border-radius: 0.5rem;
        border: 1px solid var(--col-primary);

        >div {
          display: grid;
          gap: 0.25rem;
          padding: 1rem;
        }
      }
    }
  }
}