.change-password {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;

  transition: opacity 0.3s ease;

  &.shown {
    opacity: 1;
    pointer-events: auto;
    z-index: 1000;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
    z-index: -10000 !important;
  }

  form {
    background: var(--col-tertiary);
    color: var(--col-on-tertiary);
    padding: 3rem 5rem;
    border-radius: 1rem;

    display: grid;
    gap: 1rem;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

    button {
      background-color: var(--col-tertiary-container);
      color: var(--col-on-tertiary-container);
    }
  }
}