.change-password {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;

  transition: opacity 0.3s ease;

  &.shown {
    opacity: 1;
    pointer-events: auto;
    z-index: 1000;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
    z-index: -10000 !important;
  }

  form {
    backdrop-filter: blur(1rem);
    color: var(--col-on-primary);
    background: var(--col-primary-faded);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

    padding: 3rem 5rem;
    border: 1px solid var(--col-secondary);
    border-radius: 1rem;

    display: grid;
    gap: 1rem;

    .submit-btn {
      background-color: var(--col-primary-container);
      color: var(--col-on-primary-container);
    }

    .cancel-btn {
      background-color: var(--col-on-error);
      color: var(--col-error);
    }
  }
}