.user-action {
  padding: 4rem 3rem;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1rem);
  border-radius: 1ch;

  display: grid;
  justify-content: center;
  gap: 1rem;
  margin: 0 5rem;

  button {
    font-size: 1em;
    padding: 1.5ch 0;
    border: none;
    border-radius: 0.5rem;
  }

  .logout-btn {
    padding: 1rem 3rem;
  }
}

.logged-out {
  form {
    display: grid;
    gap: 2.5ch;
    width: 23rem;
  }

  h1 {
    color: var(--col-surface);
    padding: 0.5rem 1rem;
    text-align: center;
  }

  .linker {
    p {
      margin-top: 1rem;
      color: var(--col-surface);

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.logged-in {
  display: grid;
  gap: 1rem;

  p {
    font-weight: 600;
    padding: 1rem;
    background-color: var(--col-tertiary);
    color: var(--col-on-tertiary);

    border-radius: 0.25rem;
  }

  button {
    background-color: var(--col-primary);
    color: var(--col-on-primary);
    cursor: pointer;
  }
}