.user-action {
  padding: 4rem 3rem;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1rem);
  border-radius: 1ch;

  display: grid;
  gap: 1rem;

  button {
    font-size: 1em;
    padding: 1.5ch 0;
    border: none;
    border-radius: 0.5rem;
  }

  .logout-btn {
    padding: 1rem 3rem;
  }
}

.logged-out {
  form {
    display: grid;
    gap: 2.5ch;
    width: 23rem;
  }

  h1 {
    color: var(--col-on-primary-container);
    text-shadow: 1px 1px 0 black;
    text-align: center;
  }

  .linker {
    p {
      color: var(--col-primary);

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.logged-in {
  display: grid;
  gap: 1rem;

  p {
    padding: 1rem;
    background-color: var(--col-tertiary-container);
    color: var(--col-on-tertiary-container);

    border-radius: 0.25rem;
  }

  button {
    background-color: var(--col-primary-container);
    color: var(--col-on-primary-container);
  }
}